p{
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    color: #fff;
    position: fixed;
    width: 100%;
    transition: all 0.5s;
}

.header_scrolled {
    background-color: #251902;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.header>a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header>a:hover>img{
    transform: rotate(359deg);
    transition: .5s ease-in-out;
}

.header>a>img{
    width: 50px;
    height: 50px;
    transform: rotate(0);
    transition: .5s ease-out;
}

.header>a>p{
    opacity: 0;
    display: none;
    transition: all 0.5s;
}

.header_scrolled>a>p{
    /* display: inline; */
    opacity: 1;
    display: inline;
    transition: all 0.5s;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.logo {
    font-weight: bold;
    font-size: 1.3rem;
}

.links {
    display: flex;
    column-gap: 2rem;
}

.link_item {}

.link {
    display: inline-block;
    position: relative;
}

.link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #BB8A3C;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* HAMBURGUER */
.burguer_menu{
    height: 100%;
    width: 4rem;
    background-color: red;
    top: 0;
    left: 0;
}